
:root{
    --SIDE-MAIN-color: #d7d7d7;
    --SIDE-MAIN-TXT-color:black;
    /*--MAIN-HOVER-color: rgba(99, 99, 99, 0.96);*/
    --MAIN-HOVER-color: #727272;
    --MAIN-LINK-color: rgba(152, 62, 68, 0.96);

    /*--SIDE-FOCUS-BACK-color: #b1b1b1;*/
    --SIDE-FOCUS-BACK-color: #d3d3d3;
    --SIDE-FOCUS-FORE-color:black;
    --MENU-LINK-color:black;
    --MENU-ACTIVE-BACK-color: #727272;
    --MENU-ACTIVE-LINK-color:white;
    
}

a, #sidebar ul li.visited > a .read-icon {
	/*color: var(--SIDE-MAIN-color);*/
    color: var(--MAIN-LINK-color);
}

a:hover {
    color: var(--MAIN-HOVER-color);
}
#body a.highlight:after {
    background-color: var(--MAIN-HOVER-color);
}
#sidebar {
	background-color: var(--SIDE-MAIN-color);
}
#sidebar #header-wrapper {
    background: var(--SIDE-MAIN-color);
    /*color: var(--BF-color)*/
    border-color: var(--SIDE-FOCUS-BACK-color);
}
#sidebar .searchbox {
	/*border-color: var(--BF-color);*/
    background: var(--SIDE-FOCUS-BACK-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--SIDE-FOCUS-BACK-color);
}
#sidebar .searchbox * {
    color: var(--SIDE-FOCUS-FORE-color);
}
#sidebar a , #sidebar a:hover {
    color: var(--MENU-LINK-color);
}
#sidebar .parent li, #sidebar .active li {
    border-color: var(--MENU-ACTIVE-LINK-color);
}
#sidebar ul li.active > a {
    background: var(--MENU-ACTIVE-BACK-color);
    color: var(--MENU-ACTIVE-LINK-color) !important;
}
#sidebar ul li .category-icon {
	color: var(--MENU-LINK-color);
}
#sidebar #shortcuts h3 {
    color: var(--SIDE-MAIN-TXT-color);
}

.footline {
	border-color: var(--SIDE-FOCUS-BACK-color);
}

/*custom style for intothedata*/
#breadcrumbs > span.links > a {
    color: #a2a2a2;
}
